extends layout

block content
  h1 Welcome to this #{title}!
  p 
    strong Congrats! 
    | You've successfully built, tested, delivered and deployed this helm example application.
  p From here, you can 
    | 
    a(href="https://docs.oracle.com/en-us/iaas/Content/devops/using/home.htm") read more about the DevOps service,
    | a(href="https://docs.oracle.com/en-us/iaas/releasenotes/services/devops/") our latest release
    | and get started with your 
    a(href="https://cloud.oracle.com/devops-project/projects") own CI/CD pipeline.
